body{
  background-color: black;
}


@font-face {
  font-family: Poppins;
  src: url(../public/fonts/Roboto-Condensed.ttf);
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-techWallpaper{
  background-image: url(./Components/Assets/tech4.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
